<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Classroom Info</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/classroom-info.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
  <script src="/javascripts/classroom-info.js"></script>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="jumbotron text-center">
    <h1 class="display-4"><%= classroom[0].class_building %>-<%= classroom[0].class_num %></h1>
    <p class="lead">Information for this room is listed below.</p>
    <hr class="my-4">
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead"><b>Equipment</b></p>
          <hr class="my-4">
          <% for (var i = 0; i < equipment.length; i++) { %>
          <p><%= equipment[i].equip_type %></p>
          <% } %>
        </div>
        <div class="col">
          <p class="lead"><b>Software</b></p>
          <hr class="my-4">
          <% for (var i = 0; i < software.length; i++) { %>
          <p><%= software[i].software_name %></P>
          <% } %>
        </div>
      </div>
    </div>
    <br>
    <form action="/updateClassroomNotes" method="post" id="update-notes">
      <div class="form-group">
        <label for="notes-section">Notes:</label>
        <textarea class="form-control" id="notes-textarea" name="notes" rows="10" disabled><%= classroom[0].notes %></textarea>
        <input type="hidden" class="form-control" name="identifier" value="<%= classroom[0].classroom_id %>">
      </div>
      <br>
      <div class="container text-center">
        <div class="center-block">
          <button type="button" class="btn btn-primary" id="cancel-edit" hidden>Cancel Edit</button>
          <button type="button" class="btn btn-primary" id="edit-notes">Edit Notes</button>
          <button type="submit" class="btn btn-primary" id="submit-notes" form="update-notes" hidden>Submit Changes</button>
        </div>
      </div>
    </form>
  </div>
</body>
<% include templates/footer %>

</html>
