<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Create Report</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reports.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
  <script src="/javascripts/reports.js"></script>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="jumbotron text-center">
    <h1 class="display-4">Create a Custom Report</h1>
    <p class="lead">Here you can request a report that contains specific information from the database.</p>
    <hr class="my-4">
    <p>Please fill out the form below with any information that can help make the query more specific.</p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <form action="/custom-report" method="post">
        <div class="form-group text-center">
          <label for="create-query-tablename">Choose Table:</label>
          <select class="form-control" id="to-query">
            <option disabled selected>--</option>
            <option value="classroom">Classroom</option>
          </select>
        </div>
        <div class="form-group text-center">
          <select class="form-control cust" id="specifier-building" name="building">
            <option disabled selected value="">Specify Building*</option>
            <option value="FRH">FRH</option>
            <option value="HRB">HRB</option>
            <option value="HSB">HSB</option>
            <option value="PAC">PAC</option>
            <option value="UHB">UHB</option>
            <option value="VPA">VPA</option>
          </select>
        </div>
        <div class="form-group text-center">
          <input type="text" class="form-control cust" id="specifier-classroom" name="number" placeholder="Specify Classroom*">
        </div>


        <div class="form-group text-center">
          <label for="looking-for" id="specifier-lookingfor-label">Containing:</label>
          <select multiple class="form-control cust" id="specifier-lookingfor" name="requested">
            <option value="equipment-multi">Equipment</option>
            <option value="software-multi">Software</option>
          </select>
        </div>


        <div class="form-group text-center">
          <input type="text" class="form-control cust" id="specifier-equipment" name="equipment" placeholder="Specify Equipment">
        </div>
        <div class="form-group text-center">
          <input type="text" class="form-control cust" id="specifier-software" name="software" placeholder="Specify Software">
        </div>

        <div class="container text-center">
          <button type="submit" class="btn btn-primary" id="custom-report-btn">Submit Report</button>
        </div>

      </form>
    </div>
  </div>
</body>
<% include templates/footer %>

</html>
