<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Customized Report</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reports.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
  <script src="/javascripts/reports.js"></script>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="jumbotron text-center">
    <h1 class="display-4">Report Generated!</h1>
    <p class="lead">Here is the report we came up with the information you provided. Feel free to print yourself a copy.</p>
    <hr class="my-4">
    <p>If you want to create another query, use this <a href="create-report">link</a> to be redirected to our custom query creation page.</p>
  </div>
  <div id="printable">
    <table class="table text-center" id="custom-report-table">
      <caption>Custom report results</caption>
      <thead>
        <tr>
          <th scope="col">Classroom Building</th>
          <th scope="col">Classroom Number</th>
          <th scope="col">Equipment</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < custom.length; i++) { %>
        <tr>
          <td><%= custom[i].class_building %></td>
          <td><%= custom[i].class_num %></td>
          <td><%= custom[i].equip_type %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="text-right" id="print-btn-div">
    <button type="button" class="btn btn-light" id="print-btn">Print</button>
  </div>
</body>

</html>
