<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Exisiting Reports</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reports.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="jumbotron text-center">
    <h1 class="display-4">Existing Reports</h1>
    <p class="lead">Here you can select a report yhat has been pre-defined to making searching easier.</p>
    <hr class="my-4">
    <p>Please choose the query that best suits your needs. If you require a more custom report, please use <a href="create-report">this link</a>.</p>
  </div>

  <!-- Add accordion -->

</body>
<% include templates/footer %>

</html>
