<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Forms</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
  <script src="/javascripts/forms.js"></script>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="modal fade" id="classroom-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Classroom Information</h4>
          <button type="button" class="close" data-dismiss="modal" id="close">×</button>
        </div>
        <div class="modal-body" style="padding:35px 50px;">
          <form action="./insertIntoClassroom" method="post" id="classroom-submit">
            <div class="form-group">
              <label for="classroom-number" class="col-form-label">Number:</label>
              <input type="text" class="form-control" name="number" required>
            </div>
            <div class="form-group">
              <label for="classroom-building" class="col-form-label">Building:</label>
              <select class="selector form-control" name="building" id="building-selected">
                <option disabled selected>--</option>
                <option value="FRH">FRH</option>
                <option value="HRB">HRB</option>
                <option value="HSB">HSB</option>
                <option value="PAC">PAC</option>
                <option value="UHB">UHB</option>
                <option value="VPA">VPA</option>
              </select>
            </div>
            <div class="form-group">
              <label for="classroom-notes" class="col-form-label">Notes:</label>
              <input type="text" class="form-control" name="notes">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="classroom-submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="equipment-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Equipment Information</h4>
          <button type="button" class="close" data-dismiss="modal" id="close">×</button>
        </div>
        <div class="modal-body" style="padding:35px 50px;">
          <form action="./insertIntoEquipment" method="post" id="equipment-submit">
            <div class="form-group">
              <label for="equipment-type" class="col-form-label">Type of Equipment:</label>
              <input type="text" class="form-control" name="type" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="equipment-submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="software-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Software Information</h4>
          <button type="button" class="close" data-dismiss="modal" id="close">×</button>
        </div>
        <div class="modal-body" style="padding:35px 50px;">
          <form action="./insertIntoSoftware" method="post" id="software-submit">
            <div class="form-group">
              <label for="software-name" class="col-form-label">Software:</label>
              <input type="text" class="form-control" name="software" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="software-submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center">
    <h1 class="display-4">Request New Entry to Database</h1>
    <p class="lead">Here you can request that new data be entered into the inventory database. If valid credentials, forms should run INSERT.
      If anyone else runs the form, it would send a request to whoever is in charge of the database.</p>
    <hr class="my-4">
    <p>Please fill out the form below with valid information, then submit when ready.</p>
  </div>
  <br>
  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="classroom-tab" data-toggle="tab" href="#classroom" role="tab" aria-controls="classroom" aria-selected="true">Add Classroom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="equipment-tab" data-toggle="tab" href="#equipment" role="tab" aria-controls="equipment" aria-selected="false">Add Equipment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="software-tab" data-toggle="tab" href="#software" role="tab" aria-controls="software" aria-selected="false">Add Software</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="classroom" role="tabpanel" aria-labelledby="classroom-tab">
      <table class="table">
        <caption>List of all classrooms</caption>
        <thead>
          <tr>
            <th scope="col">Classroom Building</th>
            <th scope="col">Classroom Number</th>
            <th scope="col">Classroom Specifics</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < classroom.length; i++) { %>
          <tr>
            <td><%= classroom[i].class_building %></td>
            <td><%= classroom[i].class_num %></td>
            <td>
              <form action="/forms" method="post">
                <button type="submit" class="btn btn-primary" name="crid" value="<%= classroom[i].classroom_id %>">View Info</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <nav id="table-page">
        <div class="text-center">
          <button type="button" class="btn btn-primary" id="add-classroom">Add New Classroom to List</button>
        </div>
        <!-- Not functioning -->
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next &raquo</a>
          </li>
        </ul>
        <!-- :( -->
      </nav>
    </div>
    <div class="tab-pane fade" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
      <table class="table">
        <caption>List of all equipment</caption>
        <thead>
          <tr>
            <th scope="col">Equipment ID</th>
            <th scope="col">Equipment Type</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < equipment.length; i++) { %>
          <tr>
            <td><%= equipment[i].equip_id %></td>
            <td><%= equipment[i].equip_type %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <!-- Not functioning -->
      <nav id="table-page">
        <div class="text-center">
          <button type="button" class="btn btn-primary" id="add-equipment">Add New Equipment to List</button>
        </div>
        <!-- Not functioning -->
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next &raquo</a>
          </li>
        </ul>
        <!-- :( -->
      </nav>
    </div>
    <div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="software-tab">
      <table class="table">
        <caption>List of all software</caption>
        <thead>
          <tr>
            <th scope="col">Software ID</th>
            <th scope="col">Software Name</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < software.length; i++) { %>
          <tr>
            <td><%= software[i].software_id %></td>
            <td><%= software[i].software_name %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <nav id="table-page">
        <div class="text-center">
          <button type="button" class="btn btn-primary" id="add-software">Add New Software to List</button>
        </div>
        <!-- Not functioning -->
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next &raquo</a>
          </li>
        </ul>
        <!-- :( -->
      </nav>
    </div>
  </div>
</body>
<% include templates/footer %>

</html>
