<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Home</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
</head>

<body>
  <% include templates/nav-bar %>
  <div id="home-bg"></div>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Welcome</h1>
      <hr class="my-4">
      <p class="lead">To the UIS ITS computer management webpage.</p>
    </div>
  </div>
  <!-- <form action="/insertIntoClassroom" method="post">
      <div class="form-group">
        <label for="classroom">Classroom Number:</label>
        <input type="text" class="form-control" name="classroom">
      </div>
      <div class="form-group">
        <label for="building">Building:</label>
        <input type="text" class="form-control" name="building">
      </div>
      <div class="form-check">
        <label for="notes">Notes:</label>
        <input type="text" class="form-control" name="notes">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
</body>
<% include templates/footer %>

</html>
