<!DOCTYPE html>
<!--       _  (mEoWw)   _
       .__(.)<       `>(.)__.
        \___) `(qUacK) (___/
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<html lang="en">

<head>
  <% include includes/Meta-Tags %>
  <title>Parameterized Reports</title>
  <% include includes/Fav-Icon %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reports.css">
  <% include includes/Default %>
  <% include includes/Font-Awesome %>
  <% include includes/Bootstrap %>
</head>

<body>
  <% include templates/nav-bar %>
  <div class="jumbotron text-center">
    <h1 class="display-4">Run Exisiting Report</h1>
    <p class="lead">Here we have a pre-defined set of popular queries.</p>
    <hr class="my-4">
    <p>Press the button down below to be redirected to our queries page.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="existing-reports" role="button">Select A Query</a>
    </p>
  </div>
  <br>
  <div class="jumbotron text-center">
    <h1 class="display-4">Create New Report</h1>
    <p class="lead">Here you can create custom queries for whatever your needs are.</p>
    <hr class="my-4">
    <p>Press the button below to run a parameter based query on our database.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="create-report" role="button">Create Custom Query</a>
    </p>
  </div>
</body>
<% include templates/footer %>

</html>
