<footer class="page-footer fony-small blue-grey lighten-5">
  <div class="footer-copyright text-center text-black-50 py-3">
    To contact UIS ITS, please email:<a class="dark-grey-text" href="mailto: techsupport@uis.edu"> techsupport@uis.edu</a> or call (217) 206 6000.
  </div>
</footer>
