<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="images/sm-logo-UIS.png" width="22" height="30" class="d-inline-block align-top" alt=""> UIS ITS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="reports">Parameterized Reports</a>
      <a class="nav-item nav-link" href="forms">Forms</a>
    </div>
  </div>
</nav>
