.table th, td {
  text-align: center;
}

.table {
  border-radius: 5px;
  width: 100%;
  float: none;
  margin: 0px auto;
}

#table-page {
  padding-right: 15px;
}

/* #button {
  color: inherit;
  text-decoration: none;
}

#button:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
} */
#close:focus {
  outline: 0;
}
