#home-bg {
  padding: 200px 0px;
  background: url(/images/home-bg.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
